#input {
  background-color: #e4e4e49c;
  border: solid #7f14a75e;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-family: 'Pangolin', cursive;
  line-height: 2;
  margin-bottom: 20px;
  outline-color: rgb(136 145 212 / 93%);
  padding: 0 5px;
  width: 50%;
}