.container{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-link {
  color: rgba(51, 24, 82, 0.808);
  font-family: 'Shadows Into Light', cursive;
  font-size: 24px;
  text-decoration: none;
  text-shadow: 1px 1px 8px black, 0 0 1em #705786, 0 0 0.2em #ececec;
}

.home-link:hover {
  color: rgb(123, 60, 131);
  font-weight: bold;
}