.filters {
  display: flex;
  justify-content: center;
  width: 100%;  
  padding: 40px;
}

.filter-all, .filter-active, .filter-completed {
  padding-right: 25px;
  font-family: 'Pangolin', cursive;
  text-decoration: none;
  color: black;
  font-size: 30px;
}