* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(92.7deg, rgb(222 171 234) 8.5%, rgba(252,251,224,1) 90.2% );
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Amatic SC', cursive;
}